body{
    background-color: black;
    color:azure;
    text-align: center;
}

a{
    color:azure;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: large;

}

h1{
    color: crimson;
}
